.container{
    background-color: #000;
    
}
.container2{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    background-color: #02be3b;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.titulo{
    margin: 0;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;    
    background: rgba(255,255, 255, 0.2);
    width: 350px;
    height: 450px;
    border-radius: 30px;
}
.login{
    display: flex;   
    justify-content: center;
    align-items: center;
}